div{
  margin: 20px;
  background-color: rgb(159, 255, 213);
  
}
.navbartop{
 background-color: rgb(20, 43, 53);
 height: 80px;
}

.fa-github{
  font-size: 60px;
  color: azure;
  padding: 10px;
}

.navbar-brand{
  /* margin-top: 0; */
  /* padding-bottom: 5px; */
  font-size: 25px;
  color: azure;
  position: relative;
  left: 45%;
  text-align: center;
  vertical-align: middle;
  
}


.box{
  /* width: 200px;
  height: 200px; */
  background-color: rgb(18, 22, 20);
  border-radius: 20px;
  
}

.grid-container{
  display: grid;
  grid-template-columns: 400px auto auto auto;
  grid-template-rows: 90px 200px 200px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  
}

.box1{
  grid-row-start: 1;
  grid-row-end: 4;
}

.box2{
  grid-column-start: 2;
  grid-column-end: 5;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  padding-left: 20px;
  padding-top: 8px;
  border-radius: 12px;
 

}

.box6{
  grid-column-start: 2;
  grid-column-end: 5;
}